{# templates/certification/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Certifications | Mon Portfolio
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}


{% block body %}
    <div class="container mt-5">
        <h1>Mes veille numérique !</h1> <br>
        <p> Pour ma veille numérique j'ai chosis de la faire sur le cybersécurité car, si j'atteint l'école d'ingénieur, je souhaite étudier la cybersécurité.</p> <br><br>

        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="article-card">
                        {% if article.image %}
                            <img src="{{ article.image }}" alt="Image de l'article">
                        {% endif %}
                        <div class="article-card-body">
                            <h5>{{ article.title }}</h5>
                            <p>{{ article.description | slice(0, 150) }}...</p>
                            <a href="{{ article.link }}" target="_blank">Lire l'article</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun article disponible pour le moment, les nouveaux vont bientôt arriver !</p>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}