{# templates/experience/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Expériences | Mon Portfolio{% endblock %}

{% block body %}
    <h1>Bienvenue sur mes expériences !</h1>
    <p>Voici la page de mes expériences de mon portfolio Symfony.</p>
	
	<a href="{{ path('app_home') }}">Voir la page d'accueil</a>
    <a href="{{ path('app_presentation') }}">Voir ma présentation</a>
    <a href="{{ path('app_experience') }}">Voir mes expériences</a>
    <a href="{{ path('app_certification') }}">Voir mes certifications</a>
    <a href="{{ path('app_competence') }}">Voir mes compétences</a>
    <a href="{{ path('app_veille_numerique') }}">Voir ma veille numérique</a>
{% endblock %}
